<div class="text-center">
    <div class="login-form">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header" style="font-size: 2rem; font-family: Calibri, sans-serif;">Register</div>
              <div class="card-body">
                <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">

                  <div class="form-group row">
                    <label for="name" class="col-md-4 col-form-label text-md-right">name</label>
                    <div class="col-md-6">
                      <input type="text" id="name" class="form-control" name="name" required autofocus ngModel>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="phone" class="col-md-4 col-form-label text-md-right">phone</label>
                    <div class="col-md-6">
                      <input type="number" id="phone" class="form-control" name="phone" required ngModel>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label text-md-right">email</label>
                    <div class="col-md-6">
                      <input type="text" id="email" class="form-control" name="email" required ngModel>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="typeUser" class="col-md-4 col-form-label text-md-right">typeUser</label>
                    <div class="col-md-6">
                      <input type="number" id="typeUser" class="form-control" name="typeUser" required ngModel>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="cpf" class="col-md-4 col-form-label text-md-right">cpf</label>
                    <div class="col-md-6">
                      <input type="text" id="cpf" class="form-control" name="cpf" required ngModel>
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                    <div class="col-md-6">
                      <input type="password" id="password" class="form-control" name="password" required ngModel>
                    </div>
                  </div>
  
                  <div class="col-md-6 offset-md-4 d-flex flex-column">
                    <button type="submit"
                            [disabled]="registerForm.invalid"
                            class="btn btn-primary d-block flex-grow-1 mb-3">
                      Sign Up
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  